<div>
    <form>
        <h1>Formulario Citas Medicas</h1>
        <input type="text" placeholder="Ingrese N° Documento Paciente">
        <select [(ngModel)]="specialty" name="specialty" (change)="obtenerEspe()">
            <option *ngFor="let specialty of specialtys" [value]="specialty">{{ specialty}}</option>
        </select>
        <select id="doctor" [(ngModel)]="doctor" name="doctor">
            <option *ngFor="let doctor of doctor" [value]="doctor.specialty">{{ doctor.name }}</option>
        </select>
        <input type="text" placeholder="Ingrese nombre del paciente">
        <button>Enviar</button>
    </form>
</div>