<!-- <div>
    <form (submit)="saveInformationMedicalAppointment()">
        <h1>Formulario Citas Medicas</h1>
        <input type="text" placeholder="Ingrese N° Documento Paciente">
        <select [(ngModel)]="specialty" name="specialty" (change)="getSpecialty()">
            <option disabled selected value="">Selecciona una opción...</option> 
            <option value="Medicina General">Medicina General</option>
            <option value="Cardiología">Cardiología</option>
            <option value="Medicina Interna">Medicina Interna</option>
            <option value="Dermatología">Dermatología</option>
            <option value="Rehabilitación Física">Rehabilitación Fisica</option>
            <option value="Psicología">Psicología</option>
            <option value="Psicología">Odontología</option>
            <option value="Radiología">Radiología</option>
        </select>
        <select id="doctor" [(ngModel)]="formDataMedicalAppointment.doctorName" name=""">
            <option *ngFor="let doctor of doctors" [value]="doctor.name">{{ doctor.name }}</option>
          </select>
        <input type="text" placeholder="Ingrese nombre del paciente">
        <button type="submit">Enviar</button>
    </form>
</div> -->

<div>
    <form (submit) = "saveInformationMedicalAppointment()">
        <h1>Formulario Citas Medicas</h1>
        <input type="text" placeholder="Ingrese N° del paciente" [(ngModel)]="formDataMedicalAppointment.documentNumberPatient" name="documentNumberPatient">
        <select [(ngModel)]="formDataMedicalAppointment.specialty" name="specialty" (change)="getSpecialty()">
            <option disabled selected value="">Selecciona una opción...</option>
            <option value="Medicina General">Medicina General</option>
            <option value="Cardiología">Cardiología</option>
            <option value="Medicina Interna">Medicina Interna</option>
            <option value="Dermatología">Dermatología</option>
            <option value="Rehabilitación Física">Rehabilitación Fisica</option>
            <option value="Psicología">Psicología</option>
            <option value="Psicología">Odontología</option>
            <option value="Radiología">Radiología</option>
        </select>
        <select id="doctor" [(ngModel)]="formDataMedicalAppointment.doctorName" name="doctorName">
            <option *ngFor="let doctor of doctors" [value]="doctor.name">{{ doctor.name }}</option>
        </select>
        <input type="text" placeholder="Ingrese Nombre del paciente" [(ngModel)]="formDataMedicalAppointment.patientName" name="patientName">
        <button type="submit">Enviar</button>
    </form>
</div>